@model CourseIndexViewModel
@{
	ViewData["Title"] = "Courses";
}

<section class="courses">
	<div class="container">
		<div class="header">
			<h1>Courses</h1>
			<form id="form-filters">
				
				<div class="select">
					<div class="selected">All categories</div>
					<div class="select-options">
						<div class="option" data-value="all">All categories</div>
						@if (Model.Categories != null)
						{
							foreach (var category in Model.Categories)
							{
								<div class="option" data-value="@category.CategoryName">@category.CategoryName</div>
							}
						}
					</div>
				</div>

				<div class="input-search-group">
					<input id="searchQuery" name="searchQuery" placeholder="Search Courses" />
					<i class="fa-brands fa-searchengin"></i>
				</div>
			</form>
		</div>

			@if (Model.Courses != null)
			{

		<div class="course-items">
		
				@foreach (var course in Model.Courses)
				{
					<div class="course" onclick="location.href='@Url.Action("Details", "Courses", new { id = course.Id })'">
						@if (course.IsBestseller)
						{
							<div class="bestseller">Best seller</div>
						}

						<button class="btn btn-circle bookmark" asp-action="Join" asp-controller="Courses"><i class="fa-regular fa-bookmark"></i></button>

						<img src="~/images/@course.Image" alt="@course.Title" />
						<div class="content">
							<h5 class="title">@course.Title</h5>
							<p class="author">by @course.Author</p>
							<div class="pricing">
								@if (!string.IsNullOrEmpty(course.DiscountPrice))
								{
									<div class="discount">@course.DiscountPrice</div>
								}
								<div class="price @(!string.IsNullOrEmpty(course.DiscountPrice)? "discount-enabled" : "")">@course.Price</div>
							</div>

							<div class="footer">
								<div class="hours">
									<i class="fa-regular fa-clock"></i> @course.Hours hours
								</div>
								<div class="likes">
									<i class="fa-regular fa-thumbs-up"></i> @course.LikesInProcent (@course.LikesInNumbers)
								</div>
							</div>
						</div>
					</div>
				}
			
		</div>
		}
	</div>
</section>
